.header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 8px 20px;
    background-color: black;
    color: white;
    height: 50px;
}
.header .left{
    display: flex;
    align-items: center;
}
.header .left .hamburger{
    display: none;
}
.header .left .logo h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}
.header .center .search{    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(72, 72, 72, 0.559);
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
.header .center .search input{
    width: 100%;
    padding: 2px 0;
    background-color: transparent;
    outline: none;
    border: none;
}
.header .center .search input::placeholder{
    color: white;
    padding-left: 10px;
}
.header .right{
    display: flex;
    justify-content:right;

}
.header .right .profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header .right .profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header2{
    background-color: white;
    width: 190px;
    height: calc(100vh - 50px);
    padding:20px 15px;
    z-index: 2;
}
.header2 ul li .nav-icon{
    font-size: 18px;
    margin-right: 10px;
}
.header2 ul li{
    margin-bottom: 20px;
    letter-spacing: 1px;
    
}
.header2 ul li a{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.header2 .nav-menu{
    margin: 15px 0 10px 40px;
    display: none;
    transition: all 1s;
}

.header2 .nav-menu li a{
    color: rgb(65, 65, 65);
    font-size: 13px;
}
.header2 .setting{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 11px;
    letter-spacing: 1px;
}
.header2:focus-within li {
    color: red;
  }
@media screen and (max-width:950px) {
    .header{
        grid-template-columns: 1fr 2fr 1fr;
    }
}
@media screen and (max-width:750px){
    .header{
        grid-template-columns: 1fr auto 1fr;
    }
    .header .left .logo{
        display: none;
    }
    .header .left .hamburger{
        display: block;
    }
    .header2{
        position: absolute;
        top: 50px;
        transition: all 0.5s;
    }
}
